/*
 *  Licensed to the Apache Software Foundation (ASF) under one
 *  or more contributor license agreements.  See the NOTICE file
 *  distributed with this work for additional information
 *  regarding copyright ownership.  The ASF licenses this file
 *  to you under the Apache License, Version 2.0 (the
 *  "License"); you may not use this file except in compliance
 *  with the License.  You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing,
 *  software distributed under the License is distributed on an
 *  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 *  KIND, either express or implied.  See the License for the
 *  specific language governing permissions and limitations
 *  under the License.
 */

/*
uncomment to add a logo (in an ../images directory relative to this file)
*/
#header {
	height: 120px;
	background-image: url("../ images/ loguito1.png);
	entityIconAndTitlePanel a img {
    display: none;
	}	
}

.headerContainer {
	
	background-image: url("../images/loguito1.png");
	background-repeat: no-repeat;
	background-position: center top;
}

#header h1 {
	color: #FF0000;
}

a#header {
	text-decoration: underline;
}

.bookmarkedPagesPanel {
	display: visibility;
}

.bookmarkedPagesPanel .bookmarkedPagesList {
	
	display: visibility;
}

.bookmarkedPagesPanel .bookmarkedPageItem {
	display: visibility;
}

.bookmarkedPagesPanel span.bookmarkedPageImageAndTitle {
	display: visibility;
}

.bookmarkedPagesPanel span.bookmarkedPageImageAndTitle:hover {
	display: visibility;
}

.bookmarkedPagesPanel .bookmarkedPagesList a img.bookmarkedPageImage {
	display: visibility;
}

.bookmarkedPagesPanel .bookmarkedPagesList span.bookmarkedPageTitle {
	display: visibility;
}

.bookmarkedPagesPanel span.bookmarkedPageTitle {
	display: visibility;
}

.bookmarkedPagesPanel .bookmarkedPagesList a:hover span.bookmarkedPageTitle
	{
	display: visibility;
}

.bookmarkedPagesPanel .clearBookmarks {
	display: visibility;
}

.bookmarkedPagesPanel .clearBookmarks {
	display: visibility;
}

.bookmarkedPagesPanel .currentBookmark span.bookmarkedPageImageAndTitle,.bookmarkedPagesPanel .currentBookmark span.bookmarkedPageTitle
	{
	display: visibility;
}

.showPanelTab {
	display: visibility;
}

#bookmarkedPagesSlidingDiv {
	display:visibility;
}

#bookmarkedPagesSlidingDiv .content {
	display: visibility;
}

.bookmarkDepth0 {
	display:visibility;
}

.bookmarkDepth1 {
	display: visibility;
}

.bookmarkDepth2 {
	display:visibility;
}

.bookmarkDepth3 {
	display:visibility;
}

.bookmarkDepth4 {
	display: visibility;
}

.bookmarkDepth5 {
	display: visibility;
}

.clearBookmarkPlaceHolder {
	display: visibility;
}

.clearBookmark,.clearBookmarks {
	display: visibility;
}

.clearBookmarks span {
	display: visibility;
}

.bookMarkedPageItem {
	display: visibility;
}

.bookMarkedPageImage {
	display: visibility;
}

.bookMarkedPageTitle {
	display: visibility;
}

div#links.a {
	color: #FF0000;
}